<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="save(template)" #template="ngForm" novalidate autocomplete="off">

  <div>

    <div class="form-group row" [ngClass]="{ 'has-danger': (name.errors?.required || name.errors?.minlength) && name.touched }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="name"
               minlength="4"
               [(ngModel)]="user.name"
               required
               #name="ngModel">
            <div *ngIf="name.errors?.required" class="form-control-feedback">
                This field are required.
            </div>
            <div *ngIf="name.errors?.minlength" class="form-control-feedback">
                You must enter at least {{ name.errors.minlength.requiredLength }} characters.
            </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-danger': lastname.errors?.required && lastname.touched }">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="lastname"
               [(ngModel)]="user.lastname"
               required
               #lastname="ngModel">
            <div *ngIf="lastname.errors?.required" class="form-control-feedback">
                This field are required.
            </div>
      </div>
    </div>

  </div>

  <div class="form-group row" [ngClass]="{ 'has-danger': (email.errors?.required || email.errors?.pattern) && email.touched }">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
                type="email"
                placeholder="Correo electrónico"
                name="email"
                [(ngModel)]="user.email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                required
                #email="ngModel">
            <div *ngIf="email.errors?.required" class="form-control-feedback">
                This field are required.
            </div>

            <div *ngIf="email.errors?.pattern" class="form-control-feedback">
                You must enter an valid email.
            </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Country</label>
    <div class="col-md-8">
      <select 
        [(ngModel)]="user.country"
        name="country"
        class="form-control">
        <option value="">Select a country</option>
        <option *ngFor="let country of countries"
          [value]="country.code"
        >
          {{ country.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Gender</label>
    <div class="col-md-8">
      <label class="custom-control custom-radio">
        <input 
          [(ngModel)]="user.gender"
          name="gender"
          value="Male"
          type="radio"
          class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Male</span>
      </label>
      <label class="custom-control custom-radio">
        <input 
          [(ngModel)]="user.gender"
          name="gender"
          value="Female"
          type="radio"
          class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Female</span>
      </label>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Gender</label>
    <div class="col-md-8">
      <label class="custom-control custom-checkbox">
        <input 
          [(ngModel)]="user.agree"
          name="agree"
          type="checkbox"
          class="custom-control-input"
          required>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><em>I agree the terms.</em></span>
      </label>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button
          [disabled]="template.invalid"
          type="submit"
          class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>
  {{ user | json }}
</pre>